
/* GLOBAL */

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-color: #303C55;
  color: #ffffff;
  width: 100%;
}

textarea {
  width: 98%;
  max-width: 100%;
}

/* MOBILE FIRST */

#header {
  display: block;
  text-align: center;
  margin: 50px auto;
}

#title {
  font-size: 3.5rem;
  line-height: 45px;
}

#description {
  font-size: 1.5rem;
}

#main {
  display: flex;
  background-color: rgb(23, 9, 148);
}

#survey-form {
  display: flex;
  flex-direction: column;
  margin: auto 10px;
}









/*

#header {
  justify-content: center;
  padding: 50px;
  background-color: blueviolet;
}

#title {
  font-size: 4rem;
  text-align: center;
  line-height: 60px;
}

#description {
  font-size: 1.3rem;
  text-align: center;
  font-style: italic;
}

#main {
  display: flex;
  width: 100%;
  max-width: 100%;
}






/*

#survey-form {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 10px;
}

.name-div {
  display: flex;
  flex-direction: column;
  line-height: 10px;
  padding-bottom: 10px;
}

#name-label {
  font-size: 1.6rem;
  margin-top: 30px;
}

#name {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  line-height: 10px;
  width: 98%;
  max-width: 98%;
  
}


























textarea {
  width: 98%;
  max-width: 100%;
}


/*

#name-label {
  font-size: 1.6rem;
  margin-top: 20px;

  background-color: brown;
}

#name {
  line-height: 20px;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}






#review {
  width: 100%;
  max-width: 100%;
}






