
/* GLOBAL */

html {
  font-size: 10px;
  font-family:  "Noto Sans JP", sans-serif;
}

body {
  display: block;
  background-color: #303C55;
  color: #ffffff;
  width: 100vw;
}


/* MOBILE FIRST */

#header {
  justify-content: center;
  padding: 50px;
  background-color: blueviolet;
}

#title {
  font-size: 4rem;
  text-align: center;
  line-height: 60px;
}

#description {
  font-size: 1.3rem;
  text-align: center;
  font-style: italic;
}







